.modal-body .studentContact {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.95) !important;
}

.text-center {
  color: #2e2e2e;
}

.nss {
  min-width: 150px;
  left: 38%;
  width: 20%;
}

.nav-link {
  color: rgba(33, 37, 41, 0.95) !important;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: whitesmoke;
}

blockquote {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #ddd;
  padding: 2em;
}

.navbar {
  padding: 5px 22px 5px 22px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  background: white !important;
  margin-bottom: 1px;
}

.navbar-brand {
  display: flex;
}

.nav-spacing {
  margin-right: 2em;
}

#cohort40 {
  display: inline-block;
}

#jumbheader {
  background-color: #2e2e2e !important;
  color: lightgray;
  margin-top: 10px;
  padding: 20px;
}

.header-text {
  margin: 0 auto;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  font-weight: bold;
  height: 50px;
  color: white;
}

.title-font {
  text-align: center;
  vertical-align: middle;
}

.logo {
  height: 50px;
}

.jumbotron.jumbotron-fluid {
  background: none;
}

.jumbotron.jumbotron-fluid img {
  background: none;
  width: 100%;
  margin-top: -80px;
}

.jumbodev {
  padding-bottom: 0px;
  margin-bottom: 1%;
}

main {
  margin: 0 0 20px 0;
  /* margin-bottom: 20px;
  margin-top: 30px; */
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.row {
  justify-content: center;
}

.navbar-collapse {
  justify-content: flex-end;
  font-weight: bold;
  text-transform: uppercase;
}

.col-md-3.cohortMems {
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  margin: 10px;
  margin-bottom: 25px;
  background: white;
}

.col-sm-2.technologies {
  border: none;
  border-radius: none;
  box-shadow: none;
}

.technos,
.words {
  margin-left: auto;
  margin-right: auto;
  margin-top: -55px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.techs {
  width: 70px;
  margin: 20px 0px;
}

.words {
  padding: 50px;
  padding-bottom: 20px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.col,
[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.modal-body {
  display: block;
}

.studentContact {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  margin-bottom: 0.75rem;
}

.contactIcons {
  color: #2e2e2e;
}

.contactIcons:hover {
  transform: scale(1.2);
}

.modal-header {
  background-color: lightgray !important;
  color: #2e2e2e;
}

.modal-body img {
  width: 50%;
  height: 50%;
  box-shadow: 3px 3px 5px #cacaca;
  border-radius: 10px;
}

.backButton {
  margin-bottom: 1.5rem;
}

.navbar.navbar-light.bg-light.footer {
  margin-top: 10px;
  font-size: 1em;
  background-color: #2e2e2e !important;
  color: white;
}

#demo-date {
  text-align: center;
}

#demo-date a {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  /* color: rgb(247, 48, 48) !important; */
  color: #8990d0;
}

button {
  cursor: pointer;
}

.btn-outline-primary {
  color: #2e2e2e !important;
  border-color: #2e2e2e !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: #2e2e2e !important;
}

/* adjusts size of contact icons depending on size of card */
@media (min-width: 992px) and (max-width: 1200px) {
  .fa-3x {
    font-size: 2.5em !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .fa-3x {
    font-size: 2em !important;
  }
}

@media (max-width: 900px) {
  /* body {
        background: url("../assets/images/bg.jpg") repeat;
    } */
  .jumbotron.jumbotron-fluid img {
    background: white;
    margin-top: 30px;
  }

  .jumbotron.jumbotron-fluid.sm-width {
    width: 100%;
  }

  .header-text {
    margin: 0 auto;
    height: 30px;
  }

  .header-text h2 {
    font-size: 1.5em;
    margin-top: -10px;
  }

  .modal-body {
    display: block;
  }

  .modal-content {
    width: 100%;
  }

  .modal-body img {
    width: 100%;
  }

  main {
    /* margin-bottom: 100px; */
    margin-top: -50px;
    width: 100%;
  }

  .navbar-brand img {
    padding-right: none;
  }
}

.videoBlock {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 110px;
}

.videoBlock video {
  min-width: 30em;
  border-radius: 10px;
}

@media (min-width: 0px) {
  .videoBlock {
    padding-top: 210px;
  }
}

.rsvp {
  font-weight: 700;
  border: 2px solid rgba(33, 37, 41, 0.95);
  color: rgba(33, 37, 41, 0.95) !important;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
}

.rsvp:hover {
  color: rgba(255, 255, 255, 0.92) !important;
  background-color: rgba(33, 37, 41, 0.95);
}
