h1 {
  padding-top: 2%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

footer > div > p:last-of-type {
  margin-bottom: 0;
  font-weight: 300;
}

footer > div > p:first-of-type {
  font-size: 0.75em !important;
}

.footer {
  padding: 0.75% 2% !important;
}

.footer > div > p > a:link,
.footer > div > p > a:visited {
  color: #7c82bd;
  text-shadow: 0 0 0 rgba(124, 130, 189, 0.8);
  font-weight: 400;
}

.words {
  text-align: center;
  padding: 3% 7% !important;
}

.navbar-brand {
  margin: 0;
}

.rsvp {
  font-weight: 700;
  border: 2px solid rgba(33, 37, 41, 0.95);
  color: rgba(33, 37, 41, 0.95) !important;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
}

.rsvp:hover {
  color: rgba(255, 255, 255, 0.92) !important;
  background-color: rgba(33, 37, 41, 0.95);
}

.modal-body .studentContact {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
}

.modal-header .close {
  color: white;
  opacity: 1;
  text-shadow: 0 1px 0 #000;
}

.navbar-brand:hover {
  cursor: context-menu;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bg-light {
  background-color: rgba(255, 255, 255, 0.95) !important;
}

.text-center {
  color: #2e2e2e;
}

.nss {
  min-width: 150px;
  left: 38%;
  width: 20%;
}

.nav-link {
  color: rgba(33, 37, 41, 0.95) !important;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: whitesmoke;
}

blockquote {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #ddd;
  padding: 2em;
}

.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  background: white !important;
  margin-bottom: 1px;
}

.nav-spacing {
  margin-right: 2em;
}

.cohort40 {
  display: inline-block;
}

.jumbheader {
  background-color: #2e2e2e !important;
  color: lightgray;
  padding: 20px;
}

/* lr STYLING */

.marble_bg {
  background: url("../images/purpleMatchedWhiteMarble\ copy.png");
  background-size: cover;
}

.header-text {
  margin: 0 auto;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  font-weight: bold;
  height: 50px;
  color: white;
}

.title-font {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0px;
}

.logo {
  height: 50px;
}

.jumbotron.jumbotron-fluid {
  background: none;
}

.jumbotron.jumbotron-fluid img {
  background: none;
  width: 100%;
}

.jumbodev {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

main {
  margin-top: -30px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.row {
  justify-content: center;
  padding-bottom: 10px;
}

.navbar-collapse {
  justify-content: flex-end;
  font-weight: bold;
  text-transform: uppercase;
}

.col-md-3.cohortMems {
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  margin: 10px;
  margin-bottom: 25px;
  background: white;
}

.technos,
.words {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.col,
[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.modal-body {
  display: block;
}

.studentContact {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  margin-bottom: 0.75rem;
}

.contactIcons {
  color: #2e2e2e;
}

.contactIcons:hover {
  transform: scale(1.2);
}

.modal-header {
  background-color: #2e2e2e;
  color: white;
}

.modal-body img {
  width: 50%;
  height: 50%;
  box-shadow: 3px 3px 5px #cacaca;
  border-radius: 10px;
}

.backButton {
  margin-bottom: 1.5rem;
}

.navbar.navbar-light.bg-light.footer {
  margin-top: 10px;
  font-size: 1em;
  background-color: #2e2e2e !important;
  color: white;
  text-align: center;
  display: block;
}

#demo-date {
  text-align: center;
}

#demo-date a {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  /* color: rgb(247, 48, 48) !important; */
  color: #7c82bd;
}

button {
  cursor: pointer;
}

.btn-outline-primary {
  color: #2e2e2e !important;
  border-color: #2e2e2e !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: #2e2e2e !important;
}

/* adjusts size of contact icons depending on size of card */
@media (max-width: 991px) {
  .techs {
    width: 70px;
    margin: 20px 0px;
  }

  .header-text {
    margin: 0 auto;
    height: 30px;
  }

  .header-text h2 {
    font-size: 1.5em;
  }

  .modal-body {
    display: block;
  }

  .modal-content {
    width: 100%;
  }

  .modal-body img {
    width: 100%;
  }

  main {
    margin-top: -50px;
    width: 100%;
  }
  h1 {
    padding-top: 3%;
  }
}

@media (max-width: 450px) {
  #thedevelopers {
    display: block;
    position: relative;
    top: -45px;
    visibility: hidden;
  }
  #techsection {
    display: block;
    position: relative;
    top: -73px;
    visibility: hidden;
  }
  #thankyou {
    display: block;
    position: relative;
    top: -73px;
    visibility: hidden;
  }
  .rsvp {
    border: 2px solid rgba(33, 37, 41, 0.95);
    color: rgba(255, 255, 255, 0.92) !important;
    background-color: rgba(33, 37, 41, 0.95) !important;
    border-radius: 5px;
    text-align: center;
    vertical-align: center;
    margin: 0;
  }
  .rsvp:hover {
    color: rgba(255, 255, 255, 0.92) !important;
    background-color: rgba(33, 37, 41, 0.95) !important;
  }
  .container {
    width: 95%;
  }
  h1 {
    padding-top: 4%;
  }
}

@media (min-width: 451px) {
  #thedevelopers {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
  }
  #techsection {
    display: block;
    position: relative;
    top: -110px;
    visibility: hidden;
  }
  #thankyou {
    display: block;
    position: relative;
    top: -110px;
    visibility: hidden;
  }
  .container {
    width: 95%;
  }
}

@media (min-width: 700px) {
  .fa-3x {
    font-size: 2em !important;
  }
  .techs {
    width: 60px;
    margin: 20px 0px;
  }
  #thedevelopers {
    display: block;
    position: relative;
    top: -10px;
    visibility: hidden;
  }
  #techsection {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
  }
  #thankyou {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
  }
  .rsvp {
    margin-left: 10px;
  }
}

@media (min-width: 992px) {
  .fa-3x {
    font-size: 2.5em !important;
  }
  .techs {
    width: 70px;
    margin: 20px 0px;
  }
  #thedevelopers {
    display: block;
    position: relative;
    top: -12px;
    visibility: hidden;
  }
}

.videoBlock {
  padding-bottom: 120px;
  padding-top: 200px;
}

.videoBlock video {
  border-radius: 10px;
}

.video {
  width: 37%;
  min-width: 320px;
}

.thanksSection {
  display: flex;
  flex: wrap;
  padding-top: 2%;
  padding-bottom: 2%;
}

.container {
  align-items: center;
}
